---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader';
import Settlement from '@/components/Settlement';
import PageFooter from '../components/PageFooter';

const btsMinBitassets = await getCollection('btsMinBitassets');
const testMinBitassets = await getCollection('testMinBitassets');

const btsMarketData = await getCollection('btsMarketData');
const testMarketData = await getCollection('testMarketData');

const btsFeeSchedule = await getCollection('btsFeeSchedule');
const testFeeSchedule = await getCollection('testFeeSchedule');


const _minBitassetsBTS = btsMinBitassets.map(collection => collection.data);
const _minBitassetsTEST = testMinBitassets.map(collection => collection.data);

const _marketSearchBTS = btsMarketData.map(collection => collection.data);
const _marketSearchTEST = testMarketData.map(collection => collection.data);

const btsGlobalParams = btsFeeSchedule.map(collection => collection.data);
const testGlobalParams = testFeeSchedule.map(collection => collection.data);

---

<Layout title="Bitshares smartcoin issuance form">
	<main>
		<PageHeader client:only="react" page="settlement" backURL="../smartcoins/index.html" />
		<Settlement
			client:only="react"
			_bitAssetDataBTS={_minBitassetsBTS}
			_bitAssetDataTEST={_minBitassetsTEST}
			_marketSearchBTS={_marketSearchBTS}
			_marketSearchTEST={_marketSearchTEST}
			_globalParamsBTS={btsGlobalParams}
			_globalParamsTEST={testGlobalParams}
		/>
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/settlement.astro" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>